{% extends 'products/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="my-4">Detail</h1>

    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
          </form>
    </div>
    
    

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url 'product_edit' object.id %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url 'product_list' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>


{% endblock %}
