{% extends 'products/base.html' %}
{% load django_tables2 %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
        <h1 class="my-2-topright">
            <center> 
            <small>Product List</small>
            </center>
        </h1>

    <div class="my-3"> 
        <a href="{% url 'menu_principal' %}"><button type="button" class="btn btn-secondary ">Back</button></a>
        <a href="{% url 'product_new' %}" class="btn btn-outline-info topright">+ New Register</a>
    </div>

    
    <div class="table-bordered">
        <div class= "text-center separacion-minima">
        {% render_table table %}
        </div>
    </div>
{% endblock %}



